.amp-dc-product-list{
    .o-dc-card.card-bg{
        display:block;
        text-decoration: none;
    }
    .text-align-center{
        text-align: center !important;
        font-size: 2rem !important;
        font-weight: 200 !important;
    }
    .extra-padding-bottom{
        padding-bottom: 0.75rem;
    }

    .amp-dc-image {
        min-width: 0;
    }
}