.amp-dc-map-search {

  position: inherit;
  white-space: nowrap;
  width: 100%;

  .search-panel {
    display: flex;
}

.search-panel__filters {
    flex: 1;
}

.search-panel__results {
    flex: 3;
}

.ais-Highlight-highlighted {
    color: inherit;
    font-size: inherit;
}

#searchbox {
    margin-bottom: 2rem;
}

  .amp-dc-map-search-holder{
    height:500px;
    position:inherit !important;
  }
}

