<html>
  <head>
    <meta charset="utf-8" />

    <title>Amplience Visualization</title>

    <style>
      html,
      body,
      div {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{DEPLOY_PATH}styles.min.css" />
    <script src="https://unpkg.com/dc-delivery-sdk-js/dist/dynamicContent.browser.umd.min.js"></script>
    <script src="{DEPLOY_PATH}utils.min.js"></script>
    <script src="{DEPLOY_PATH}lory.min.js"></script>
  </head>
  <body>
    <div style="position: absolute; width: 100%;">
      {{> templateChooser this}}
    </div>
  </body>
</html>
