<div class="amp-dc-card amp-dc-card-{{add index 1}}">
    <div class="amp-dc-card-wrap">
        {{> acc-template-image-poi image }}
        <div class="amp-dc-card-text-wrap">
            {{#if cardName}}
            <div class="amp-dc-card-name">{{cardName}}</div>
            {{/if}} {{#if description}}
            <p class="amp-dc-card-description">{{description}}</p>
            {{/if}}
            <div class="amp-dc-card-link-container">
                {{#each links}}
                <div class="amp-dc-card-link-holder link">
                    <a class="amp-dc-card-link readMore" href="{{value}}">
                    {{#if label}}
                        {{label}}
                    {{else}}
                        >>
                    {{/if}}
                </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
