<div class="amp-dc-advanced-banner js_dc_banner {{#is bannerImage.imageEffect 'Zoom-in dark'}} hovereffect ehover1 {{/is}}{{#is bannerImage.imageEffect 'Zoom-in blur'}} hovereffect ehover3 {{/is}}{{#is bannerImage.imageEffect 'Linear'}} hovereffect ehover12 {{/is}}{{#is bannerImage.imageEffect 'Double-line Horizontal'}} hovereffect ehover13 {{/is}}">
       
    {{#if hasVideo}}

    {{> amp-template-advanced-video video smallerheight=smallerheight}}
    
    {{else}} 
     
    <div class="amp-dc-advanced-banner-pic-wrap">

        {{#if bannergrid}}
        <picture class="amp-dc-image">

            {{#if bannerImage.gifImage}}
            <img loading="lazy" src="//{{bannerImage.imageholder.image.image.endpoint}}.a.bigcontent.io/v1/static/{{encodeURI bannerImage.imageholder.image.image.name}}" {{#if bannerImage.imageAltText}}alt="{{bannerImage.imageholder.imageAltText}}"{{/if}}>
            {{else}}

            <source media="(max-width: 640px)" srcset="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=640&sm=aspect&aspect=1:1&qlt=80">
            <source media="(max-width: 768px)" srcset="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=1024&sm=aspect&aspect=1:1&qlt=80">

            {{#is indexval 0}}
            <img loading="lazy" src="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=1200&sm=aspect&aspect=1:1&qlt=80" {{#if bannerImage.imageAltText}}alt="{{bannerImage.imageAltText}}"{{/if}}>
            {{/is}}

            {{#is indexval 1}}
            <img loading="lazy" src="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=1200&sm=aspect&aspect=3:4&qlt=80" {{#if bannerImage.imageAltText}}alt="{{bannerImage.imageAltText}}"{{/if}}>
            {{/is}}

            {{#is indexval 2}}
            <img loading="lazy" src="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=1200&sm=aspect&aspect=3:4&qlt=80" {{#if bannerImage.imageAltText}}alt="{{bannerImage.imageAltText}}"{{/if}}>
            {{/is}}

            {{#is indexval 3}}
            <img loading="lazy" src="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi${{#if bannerImage.imageholder.image.query}}&{{{bannerImage.imageholder.image.query}}}{{/if}}&w=1200&sm=aspect&aspect=1:1&qlt=80" {{#if bannerImage.imageAltText}}alt="{{bannerImage.imageAltText}}"{{/if}}>
            {{/is}}

            {{/if}}

        </picture>

        {{else}}
            {{> amp-template-image bannerImage}}
        {{/if}}

    </div>
    {{/if}}

    

    {{#unless showVideoTitle}}
    {{#if hasVideo}}
    {{#if video.backgroundFullScreen}}
    {{> amp-template-countdown-banner-info-wrap}}
    {{/if}}
    {{else}}
    {{> amp-template-countdown-banner-info-wrap}}
    {{/if}}
    {{/unless}}

    {{#if disclaimer}}
    <div class="o-dc-disclaimer-text 
        {{#if disclaimerTextHorizontal}}o-dc-disclaimer-text-{{disclaimerTextHorizontal}}{{/if}} {{disclaimercolor}} {{#if disclaimerweight}}o-dc-text-{{disclaimerweight}}{{/if}}">
        <p {{#if disclaimerFontColour}}style="color:{{disclaimerFontColour}}"{{/if}}>{{disclaimer}}</p>
    </div>
    {{/if}}

    {{#if hasVideo}}
    {{#if showVideoTitle}}
    <div class="o-dc-video-title">
        {{#if headerloc}}<h1 class="o-dc-text-headline1 {{#if headerFontSize}}o-dc-text-headline1-{{headerFontSize}}{{/if}} {{#if headerFontWeight}}o-dc-text-{{headerFontWeight}}{{/if}} {{#if headerStyle}}o-dc-text-{{headerStyle}}{{/if}}" {{#if headerFontColour}}style="color:{{headerFontColour}}"{{/if}}>{{{headerloc}}}</h1>{{/if}}
        {{#if subheader}}<h2 class="o-dc-text-headline2 {{#if headline2size}}o-dc-text-headline2-{{headline2size}}{{/if}} {{#if subheaderFontWeight}}o-dc-text-{{subheaderFontWeight}}{{/if}} {{#if subheaderStyle}}o-dc-text-{{subheaderStyle}}{{/if}}" {{#if subheaderFontColour}}style="color:{{subheaderFontColour}}"{{/if}}>{{{subheader}}}</h2>{{/if}}
        {{#if description}}<p class="o-dc-text-copy {{#if descriptionFontSize}}o-dc-text-copy-{{descriptionFontSize}}{{/if}} {{#if descriptionFontWeight}}o-dc-text-{{descriptionFontWeight}}{{/if}} {{#if descriptionStyle}}o-dc-text-{{descriptionStyle}}{{/if}} {{#if hideMobileText}}show-for-medium{{/if}}" {{#if descriptionFontColour}}style="color:{{descriptionFontColour}}"{{/if}}>{{description}}</p>{{/if}}
        {{#if button}}<a href="{{button.buttonLink}}" class="o-dc-button {{button.buttonStyle}} {{#if button.buttonFontWeight}}o-dc-text-{{button.buttonFontWeight}}{{/if}} {{button.buttonTransition}}{{#if button.buttonBackgroundColour}} inline-color {{/if}}" style="{{#if button.buttonBackgroundColour}}background:{{button.buttonBackgroundColour}};{{/if}}{{#if button.buttonForegroundColour}} color:{{button.buttonForegroundColour}};{{/if}}">{{button.buttonLabel}}{{#is button.buttonTransition 'hvr-icon-forward'}} <i class="kiplingicon-chevron-right hvr-icon"></i>{{/is}}{{#is button.buttonTransition 'hvr-icon-fade'}} <i class="kiplingicon-check hvr-icon"></i>{{/is}}</a>{{/if}}

    </div>
    {{/if}}
    {{/if}}

</div>
{{#if button.buttonTransition}}
<style>

    {{#is button.buttonTransition 'hvr-fade'}}
    .hvr-fade.inline-color:hover, .hvr-fade.inline-color:focus, .hvr-fade.inline-color:active {
        background-color: #fff!important;
    }
    {{/is}}

    {{#is button.buttonTransition 'hvr-shutter-out-horizontal'}}
    .hvr-shutter-out-horizontal.inline-color:before {
        background-color: #fff!important;
    }
    {{/is}}

    {{#is button.buttonTransition 'hvr-shutter-out-vertical'}}
    .hvr-shutter-out-vertical.inline-color:before {
        background-color: #fff!important;
    }
    {{/is}}

    {{#is button.buttonTransition 'hvr-hollow'}}
    .hvr-hollow.inline-color {
    box-shadow: inset 0 0 0 4px {{button.buttonBackgroundColour}}, 0 0 1px rgba(0, 0, 0, 0)!important;
    }

    .hvr-hollow.inline-color:hover, .hvr-hollow.inline-color:focus, .hvr-hollow.inline-color:active {
        background: none!important;
    }
    {{/is}}

    {{#is button.buttonTransition 'hvr-underline-reveal'}}
    .hvr-underline-reveal.inline-color:hover {
    background: {{button.buttonBackgroundColour}}!important;
    }
    .hvr-underline-reveal.inline-color:before {
    background: {{button.buttonForegroundColour}}!important;
    }
    {{/is}}

</style>
{{/if}}
{{#is bannerImage.imageEffect 'Parallax'}}
    <div class="amp-dc-advanced-banner-mirror-{{encodeURI bannerImage.imageholder.image.image.name}}">
    <div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; height: 100%; width: 100%;">
        <img loading="lazy" class="parallax-slider" src="//{{bannerImage.imageholder.image.image.defaultHost}}/i/{{bannerImage.imageholder.image.image.endpoint}}/{{encodeURI bannerImage.imageholder.image.image.name}}?$poi_old$&w=2560&sm=aspect&aspect={{#if smallerheight}}3{{else}}2{{/if}}:1&qlt=90" style="position: relative;">
    </div>
</div>
{{/is}}
{{#if showscrollarrow}}
<div class="o-dc-banner-cta-scroll {{scrollarrowcolour}} animated">
    <a href="#" class="js-scrollto"></a>
</div>
{{/if}}