{{#each text}}
	{{#if (test type (toRegex "markdown")) ~}}
	<div class="amp-dc-text" {{#if align}}style="text-align:{{align}}"{{/if}}>
		{{{markdown this.data}}}
	</div>
	 {{~/if}}
	{{#if (test type (toRegex "dc-content-link")) ~}} {{> templateChooser this.data}} {{~/if}}
	{{#if (test type (toRegex "dc-image-link")) ~}}
		<picture class="amp-dc-image">
			<img src="//{{data.defaultHost}}/i/{{data.endpoint}}/{{encodeURI data.name}}?upscale=false&strip=true" class="amp-dc-image-pic"/>
		</picture>
	{{~/if}}
{{/each}}
