.amp-dc-landingpage {
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;

    .amp-dc-block-wrap {
        margin-top: 50px;
    }

    .amp-dc-text {
        margin: 0 25px;
    }

    .amp-dc-splitBlock {
        overflow: hidden;
    }

    .amp-dc-splitBlock {
        overflow: hidden;
    }

    .amp-dc-promo-banner-wrap {
        margin: 20px 0;
    }

    .amp-dc-promo-banner {
        margin: -70px -5px 0 -5px;
    }
}