{{#if addYoutube}}
<div class="o-dc-video-iframe" {{#if backgroundFullScreen}}style="z-index:-99"{{/if}}>
  <iframe
    src="https://www.youtube.com/embed/{{addYoutube}}?playlist={{addYoutube}}{{#if backgroundFullScreen}}&autoplay=1&mute=1&loop=1{{/if}}{{#if backgroundFullScreen}}&controls=0{{/if}}"
    frameborder="0"
    {{#if backgroundFullScreen}}controls="0"{{/if}}
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
{{else}}
<div class="{{#if backgroundFullScreen}}o-dc-video-bg-container{{#if smallerheight}} o-dc-video-bg-container-smaller {{/if}}{{else}}amp-dc-video-wrap{{/if}}">
  {{#if backgroundFullScreen}}
  {{#if backgroundEffect}}
  <div class="o-dc-video-bg-overlay" style="background: url(//{{overlayImage.defaultHost}}/i/{{overlayImage.endpoint}}/{{encodeURI overlayImage.name}}) repeat;{{#if overlayOpacity}}opacity:{{overlayOpacity}};{{/if}}"></div>
  {{/if}}
  <video
    class="o-dc-video-bg"
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
    src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/mp4_720p?protocol=https"
  >
    {{else}} 
    <video class="amp-dc-video"
    poster="//miguel.a.bigcontent.io/v1/static/video-transparent"
    style="background-image: url('//{{#if
    videoThumbnail}}{{videoThumbnail.defaultHost}}/i/{{videoThumbnail.endpoint}}/{{encodeURI
    videoThumbnail.name}}?w=1440&sm=aspect&aspect=16:9&qlt=80{{else}}{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}{{/if}}')"
    {{#if videoAutoPlay}}autoplay="1"{{/if}} {{#unless
    hidePlayButton}}controls="true"{{/unless}}
    src="///{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/mp4_720p?protocol=https"
    > {{/if}}

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}mp4_720p?protocol=https"
      data-res="High"
      data-bitrate="2119"
      label="High"
      type="video/mpeg4"
      codecs="h264"
    />

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/mp4_480p?protocol=https"
      data-res="Medium"
      data-bitrate="689"
      label="Medium"
      type="video/mpeg4"
      codecs="h264"
    />

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/mp4_240p?protocol=https"
      data-res="Low"
      data-bitrate="325"
      label="Low"
      type="video/mpeg4"
      codecs="h264"
    />

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/webm_720p?protocol=https"
      data-res="High"
      data-bitrate="2000"
      label="High"
      type="video/webm"
      codecs="vp8"
    />

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/webm_480p?protocol=https"
      data-res="Medium"
      data-bitrate="624"
      label="Medium"
      type="video/webm"
      codecs="vp8"
    />

    <source
      src="//{{amplienceVideo.defaultHost}}/v/{{amplienceVideo.endpoint}}/{{amplienceVideo.name}}/webm_240p?protocol=https"
      data-res="Low"
      data-bitrate="325"
      label="Low"
      type="video/webm"
      codecs="vp8"
    />
  </video>
</div>
{{/if}}