{{#if (test this.[@type] (toRegex ".*/text")) ~}}
{{> acc-template-text }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/video")) ~}}
{{> acc-card-template-video }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/promo-list")) ~}}
{{> acc-template-promo-list }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/promo.json")) ~}}
{{> acc-template-promo }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/split-block")) ~}}
{{> acc-card-template-split-block }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/slider")) ~}}
{{> acc-card-template-slider }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/image")) ~}}
{{> acc-card-template-image this}}
{{~/if}}

{{#if (test this.[0].[@type] (toRegex ".*/image")) ~}}
{{> acc-card-template-image this.[0]}}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/external-block")) ~}}
{{> acc-template-external-block }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/card-list")) ~}}
{{> acc-card-template-card-list }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/card.json")) ~}}
{{> acc-card-template-card }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/blog-post")) ~}}
{{> acc-card-template-blog-post }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/blog-list.json")) ~}}
{{> acc-template-blog-list }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/banner")) ~}}
{{> acc-card-template-banner }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/advanced-banner")) ~}}
{{> acc-template-advanced-banner }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/simple-image-banner-localised.json")) ~}}
{{> acc-template-simple-image-banner-localised }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/simple-image-banner.json")) ~}}
{{> acc-template-simple-image-banner }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/page")) ~}}
{{> acc-card-template-page }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/navigation.json")) ~}}
{{> acc-template-navigation }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/rich-text.json")) ~}}
{{> acc-template-rich-text }}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/slot.json")) ~}}
    {{#each this.content}}
        {{> templateChooser this }}
    {{/each}}
{{~/if}}

{{#if (test this.[@type] (toRegex ".*/localised-slot.json")) ~}}
    {{#each this.content}}
        {{> templateChooser this }}
    {{/each}}
{{~/if}}