.amp-ca-blog {
    overflow: hidden;
    margin: 40px 0;
    p {
        margin-bottom: 1em;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .amp-ca-author {
        float: right;
    }

    .amp-ca-blog-title {
        font-size: 2em;
        text-align: center;
    }

    .amp-ca-blog-content {
        margin-top: 20px;
        margin:0 auto;
        max-width: 1024px;
    }
}