.amp-dc-image {
  min-width: 0;
}

.amp-dc-blog-title {
  font-size: 2em;
  text-align: center;
}

.amp-dc-blog-list {
  .amp-dc-blog-list-wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    max-width: 1097px;
    gap: 55px 30px;
    margin: 55px auto auto;

    .amp-dc-blog-item {
      display: flex;
      a{
          color: black;
          text-decoration: none;
      }
      .amp-dc-blog-image {
        object-fit: cover;
        width: 100%;
        height: 135px;
      }
      .amp-dc-blog-title {
        color: #333333;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.875rem;
        margin-top: 0;
        margin-bottom: 12px;
      }
    }
  }
}
