{{#if (test this._meta.schema (toRegex ".*/navigation.json")) ~}}
{{> acc-template-navigation }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/image-poi.json")) ~}}
{{> acc-template-image-poi }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/banner-personalised.json")) ~}}
{{> acc-template-banner-personalised }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/card.json")) ~}}
{{> acc-template-card-interflora }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/cardList.json")) ~}}
{{> acc-template-cardList-interflora }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/curated-product-list-ct.json")) ~}}
{{> acc-template-curated-product-list-ct }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/navigation-slot.json")) ~}}
{{> acc-template-navigation-slot }}
{{~/if}}