{{#if (test this._meta.schema (toRegex ".*/navigation.json")) ~}}
{{> acc-template-navigation }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/image-poi.json")) ~}}
{{> acc-template-image-poi }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/banner-personalised.json")) ~}}
{{> acc-template-banner-personalised }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/card.json")) ~}}
{{> acc-template-card }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/cardlist.json")) ~}}
{{> acc-template-cardList }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/curated-product-list-ct.json")) ~}}
{{> acc-template-curated-product-list-ct }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/landing-page.json")) ~}}
{{> acc-template-landing-page }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/rich-text.json")) ~}}
{{> acc-template-rich-text }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/article.json")) ~}}
{{> acc-template-article }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/video.json")) ~}}
{{> acc-template-video }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/algolia-personalised-content.json")) ~}}
{{> acc-template-algolia-personalised-content }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/flexible-slot.json")) ~}}
{{> acc-template-flexible-slot }}
{{~/if}}

{{#if (test this._meta.schema (toRegex ".*/navigation-slot.json")) ~}}
{{> acc-template-navigation-slot }}
{{~/if}}