<div class="amp-dc-algoliasearch" data-amp-index-name="{{index}}">
    <main>
        <div id="filtering" class="demo ">
            <div class="ais-InstantSearch__root">
                <header class="header preview-searcharea">
                    <div class="searchWidget widget">
                        <div class="searchWidgetPreview">
                            <div class="ais-SearchBox-wrapper" id="search-wrapper">
                                <div class="ais-SearchBox" id="search-input"></div>
                            </div>
                        </div>
                        <div class="absolute bottom-0 text-center w-full flex flex-col"></div>
                    </div>
                </header>
                <main class="homeTab container">
                    <div class="container-wrapper">
                        <section class="container-filters">
                        </section>
                    </div>
                    <section class="main-wrapper">
                    </section>
                </main>
                <section class="custom-banner">
                    <!-- <div id="queryRuleCustomData"></div> -->
                </section>
                <main class="resultsTab container">
                    <div class="container-wrapper">
                        <section class="container-filters">
                            <div class="container-header">
                                <h2>Search</h2>
                                <div data-layout="desktop">
                                    <div id="clear-refinements-desktop"></div>
                                </div>
                                <div data-layout="mobile">
                                    <div class="ais-Stats" id="stats-mobile"></div>
                                </div>
                            </div>
                            <aside class="container-body">
                                <div class="widget">
                                    <div class="ais-Menu" id="main_category_c1ba1cfc-e6f9-d919-0850-21f77ee2e9a3"></div>
                                </div>
                            </aside>
                        </section>
                        <footer data-layout="mobile" class="container-filters-footer">
                            <div class="container-filters-footer-button-wrapper">
                                <div class="ais-ClearRefinements" id="clear-refinements-mobile"></div>
                            </div>
                            <div class="container-filters-footer-button-wrapper">
                                <div class="ais-Stats" id="stats-bottom"></div>
                            </div>
                        </footer>
                    </div>
                    <section class="container-results">
                        <header class="container-header container-options no-title">
                            <div id="hitsPerPage"></div>
                            <div id="stats-top"></div>
                        </header>
                        <div class="flex">
                            <section class="hits">
                                <div class="hitsWidgetWrapper widget">
                                    <div>
                                        <div>
                                            <div class="single-results-block">
                                                <h2>Articles</h2>
                                                <div id="hits-content_test"></div>
                                            </div>
                                            <div class="single-results-block">
                                                <h2>Products</h2>
                                                <div id="queryRuleCustomData"></div>
                                                <div id="search-results"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="absolute bottom-0 text-center w-full flex flex-col"></div>
                        </div>
                    </section>
                </main>
            </div>
            <footer class="container-footer">
                <nav data-widget="pagination">
                    <div class="ais-Panel">
                        <div class="ais-Panel-body">
                            <div>
                                <div id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </footer>
            </section>
    </main>
    <aside data-layout="mobile" class="resultsTab container-filters-button">
        <button class="base primary filters-button" onclick="window.openFiltering()">
            <i class="mr-1 materialIcons">filter_list</i>&nbsp;Filters
        </button>
    </aside>
    </div>
    </div>
</div>